@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    margin: 0; 
    padding: 0;
}
li{list-style: none;}

body{font-family: 'GmarketSansMedium';}

#contacttitle{
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 45px;
    max-width: 100%;
}
#subtitle{
    font-family: 'Jua', sans-serif;
    display: flex;
    justify-content:end;
    padding-right: 6.5rem;
    font-size: 25px;
    color: #d23f11;
}

#contactform{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    /* padding: 80px 0; */
    margin-right: 0;
    padding-right: 100px;
}
#contactform li{
    line-height: 3;
    font-size: 18px;
    border: 3.5px solid #222; 
    margin: 10px 0;
    text-indent: 15px;
}
#contactform li li {border: 0;}
#contactform li ul{display: flex;}
#contactform .labeltext input[type='text']{border: 0;}
#contactform .labeltext input:focus{outline: none;}
#contactform .form-submit-btn .submit{
    width: 100%;
    color: #fff;
    border: none;
    background-color: #606060;
}

.labeltext{display: flex; }
.labeltext label{width: 150px; text-indent: 15px;}
.labeltext input{width: calc(100% - 110px);}

#agree{display: none;}

// #agree + label::before{
//     content: "";
//     display: inline-block;
//     width: 30px; height: 30px; margin-right: 15px;
//     background-size: auto 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M0 96C0 60.65 28.65 32 64 32H384C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96z'/%3E%3C/svg%3E");
//     padding-left: 15pxs;
// }
// #agree:checked + label::before{
//     background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM339.8 211.8C350.7 200.9 350.7 183.1 339.8 172.2C328.9 161.3 311.1 161.3 300.2 172.2L192 280.4L147.8 236.2C136.9 225.3 119.1 225.3 108.2 236.2C97.27 247.1 97.27 264.9 108.2 275.8L172.2 339.8C183.1 350.7 200.9 350.7 211.8 339.8L339.8 211.8z'/%3E%3C/svg%3E");
// }
// #agreetext{
//     border: none !important;
// }
.border0{border: none }

.submit{    
    height: 44px;
    padding-left: 12px;
    padding-right: 12px;
    color: #333;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-sizing: border-box;
    transition: all .3s;
    cursor: pointer;
}

#formmain{
    display: flex;
}
.imgmain{
    width: 90%;
    height: 95%;
    padding-left: 5%;
    padding-top: 12px;
}


textarea {
    padding-left: 2px;
    width: 99%;
    height: 6em;
    border: 2px solid #ccc;
    resize: none;
    font-size: 19px;
}

.Agreetext{
    border: none !important;
}

.Agreetext .checkbox {
    display: block;
    margin: 0 0 20px 0;
    font-weight: 400;
}
.checkbox i {
     border: 1px solid rgb(255, 0, 0); 
}
.radio input[type=radio], .checkbox input[type=checkbox] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0,0,0,0);
}
.radio i, .checkbox i {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 12px;
    height: 11.5px;
    margin-right: 5px;
    background-color: #fff;
    text-indent: -9999px;
}
.checkbox :checked ~ i {
    background: url(../img/checkimg.svg) no-repeat center center / 13px auto;
}





